<div class="container" id="informacion">
  <br><br>
  <div class="card">
    <h3 class="card-header">CONSUMO API REST</h3>
    <div class="card-body">
      <h5 class="card-title">Gestión de Usuario!</h5>
      <p class="card-text">En el siguiente formulario usted podrá registrar una persona o 
        podrá realizar la consulta por documento para actualizar o eliminar</p><br>
      <form>
        <div class="row justify-content-end">
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control" id="idPersona" placeholder="Documento" [(ngModel)]="persona.id" name="id" >
              </div>
              <div class="col-md-2 mb-3">
                <input type="button" class="btn btn-primary" (click)="obtenerPersona()" value="Buscar..." />
              </div> 
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="persona.nombre" name="nombre">
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="tipo" placeholder="Tipo" [(ngModel)]="persona.tipo" name="tipo">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" id="profesion" placeholder="Profesión" [(ngModel)]="persona.profesion" name="profesion">
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="telefono" placeholder="Telefono" [(ngModel)]="persona.telefono" name="telefono">
          </div>
          <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="nacimiento" placeholder="Fecha Nacimiento" [(ngModel)]="persona.fechaNacimiento"  name="fechaNacimiento">
          </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" [(ngModel)]="persona.ciudad" name="ciudad">
            </div>
            <div class="col-md-3 mb-3">
              <input type="text" class="form-control" id="departamento" placeholder="Departamento" [(ngModel)]="persona.departamento" name="departamento">
            </div>
            <div class="col-md-3 mb-3">
              <input type="text" class="form-control" id="pais" placeholder="Pais" [(ngModel)]="persona.pais" name="pais">
            </div>
          </div>
          <br>
        <div class="form-row row justify-content-end">
            <input type="button" class="btn btn-primary" value="Registrar..." (click)="registrarPersona()" />&nbsp;&nbsp;
            <input type="button" class="btn btn-success" value="Actualizar..." (click)="actualizarPersona()" />&nbsp;&nbsp;
            <input type="button" class="btn btn-danger" value="Eliminar..." (click)="eliminarPersona()" />&nbsp;&nbsp;
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>